@import url('https://fonts.googleapis.com/css?family=Oswald');

.btn-outline {
    color: #fafdfd;
   
    border-color: rgb(20, 228, 141);
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .btn-outline {
    color: #f3f7f6;
    
    border-color: rgb(20, 228, 141);
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: rgb(20, 228, 141);
    color: #ffffff;
    
    
  }

  .link-dark{
    color:rgb(255, 251, 249)
  }

  .btn-outline-dark {
    color: #f3f7f6;
    background: rgb(20, 228, 141);
    border-color: rgb(20, 228, 141);
    font-weight: bold;
    border-radius: 0;
  }


  .test {
    margin: 25px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      linear-gradient(30deg, red 36%, lightgrey 30%),
                      linear-gradient(120deg, yellow 36%, lightgrey 30%),
                      linear-gradient(300deg, blue 36%, lightgrey 30%),
                      linear-gradient(210deg, green 36%, lightgrey 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(30deg);
  }






.oswald{
    font-family: 'Josefin Sans', sans-serif;
}

h4{
    font-size:2em;
}
#p{
    font-size:1.3em;
    line-height:1.1em;
}
.card {
  width: 100%; 
  height: 300px;
  
}

.card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
.card:hover .card-img,
.card:focus .card-img {
  transform: scale(1.02);
  opacity:0.8;
}

.card:hover .card-img-overlay{
    color:#730d0d;
}

.card-img-overlay>h4, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h4, .card-img-overlay:hover p{
    visibility: visible;
}

.card:hover .card-img-overlay p{
    font-size:1.5em;
    letter-spacing:0.02em;
}


/*footer starts here*/

/* Sticky footer position and size
-------------------------------------------------- */
body{
    
/* background: linear-gradient(to right, #636FA4, #E8CBC0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
background: rgb(14, 12, 12); 
font-family: 'Nanum Myeongjo', serif;
    
}

.jumbotron{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url('/static/images/image6.jpg');
  background-size: cover;
  height:350px;
}





.card-bodie{
  background: linear-gradient(to right, #cbb4d4, #20002c, #20002c); 
    color:rgb(252, 244, 244);
    border-width:2px;
border-style:solid;
border-color:black;
}


.logo{
    font-family: 'Great Vibes', cursive;
    color:rgb(20, 228, 141);
}



#h-page{
    background:rgb(7, 1, 1);
    text-align: center;
    
    
    
}
#home-nav{
    
    /* background: linear-gradient(to right, #636FA4, #E8CBC0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        
    background: linear-gradient(to right, #cbb4d4, #343035, #433f44); 
    font-family: 'Nanum Myeongjo', serif;
        
    }

#home-body{
    background:rgb(49, 46, 46);
    color:white;
}

.settings{
    background:linear-gradient(to right, #cbb4d4, #2c1400, #20002c); 
    padding:30px;
}

#about-cards{
    background:rgb(20, 228, 141);
    
}
#about-card2{
    background:white;
    
}

.card-body{
    color:rgb(253, 250, 249);

}

.hech6{
    background:#20002c;
}



 

 
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }

  body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
    height:400px;
    width:800px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#13c98c), to(#ee5a6f));
    background: linear-gradient(to right, #13c98c, #525150);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* business cards start here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}



.containerb{
  position: relative;
}

.containerb .cardb{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.containerb .cardb:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.containerb .cardb:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.containerb .cardb:after{
  content: 'business';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.containerb .cardb .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.containerb .cardb:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.containerb .cardb .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.containerb .cardb .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerb .cardb:hover .contentBx{
  height: 210px;
}

.containerb .cardb .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.containerb .cardb .contentBx .size, .containerb .cardb .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.containerb .cardb:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.containerb .cardb:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.containerb .cardb .contentBx .size h3, .containerb .cardb .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: rgb(245, 239, 239);
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.containerb .cardb .contentBx .size span:hover{
  background: #9bdc28;
}

.containerb .cardb .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}


.containerb .cardb .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(245, 236, 236);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.containerb .cardb:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
.avatar {
  height: 200px;
  position: relative;
  width: 200px;
}

.avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% { border-color: hsl(0, 100%, 50%); }
  25% { border-color: hsl(90, 100%, 50%); }
  50% { border-color: hsl(180, 100%, 50%); }
  75% { border-color: hsl(270, 100%, 50%); }
  100% { border-color: hsl(360, 100%, 50%); }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.avatar::before,
.avatar::after {
  animation: pulse 2s linear infinite;
  border: #fff solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: ' ';
  height: 140%;
  left: -20%;
  opacity: .6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.avatar::after {
  animation-delay: 1s;
}





#feed{
  background: #13c98c;
  margin-bottom:2px

}