{% extends 'base.html'%}
{% load static %}
{% block content%}

  <div class="row">
    <div class="col-md-12">
      <header class="header">
        <div class="brand-box">
          <span  >The-H00d</span>
        </div>
        
        <div class="text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main">Welcome to The-H00d</span>
            <span class="heading-primary-sub">We value your community</span>
          </h1>
          <a href="{% url 'signin' %}" class="btn btn-white btn-animated">Get to know your hood</a>
        </div>
      </header>
    
      
    </div>
    
    
  </div>


  
  <div class=body>
    <div class="headerh">
      <h1>About Us</h1>
      <h1>Powered by Django</h1>
  
      <p>Our Application gives you relevant news about your neighbourhood to ensure you are up to date
        </p>
    </div>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>Bussinesses near you</h2>
        <p>Monitors activity to identify project roadblocks</p>
        <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
      </div>
  
      <div class="box red">
        <h2>Your Feed</h2>
        <p>Scans our talent network to create the optimal team for your project</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2>Hospitals near you</h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>Police stations</h2>
        <p>Regularly evaluates our talent to ensure quality</p>
        <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
      </div>
    </div>
  </div>
  </b>
  
 
       
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>


  



{%endblock content%}